#decrease-button:hover {
    background-texture: url("ashrunica:textures/gui/buttons/less_hover.png");
}

#increase-button:hover {
    background-texture: url("ashrunica:textures/gui/buttons/more_hover.png");
}

#copies-label text {
    color: black;
}

#build-button {
    border-width: 1;
    border-radius: 2;
    background-color: #02ad00;
    border-color: #FFFFFF;
}

#build-button:hover {
    background-color: #02ea00;
}

#build-button:active {
    background-color: #af0000;
}

#build-button:active:hover {
    background-color: #e90000;
}

#progress-pane {
    background-color: #888888 50%;
}